

body {
  background-color: yellow;
}

.app-flex {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(204, 171, 171);
}

.app-footer {
  width: 100%;
  margin: auto 0 0 0;
  background-color: rgb(133, 115, 115);
}

.form-control {
  width: 70%;
  margin: 1rem auto;
}

.search-results-container {
  border: black 1px solid;
  min-height: 30vh;
}

.ticker-container {
  height: 6vh;
}

header {
  width: 100%;
  background-color: rgb(94, 170, 170);
}

.footer-bottom {
  height: 3vh;
  text-align: center;
}